:where(.css-dev-only-do-not-override-pr0fja).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background-color: transparent !important;
  border: 1px solid #374151 !important;
  color: white !important;
}

.anticon {
  color: white !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-select-single
  .ant-select-selector
  .ant-select-selection-placeholder {
  color: white !important;
}

.ant-select-open {
  color: white !important;
}

.ant-select-selector {
  color: white !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ant-select-selection-item {
  color: white !important;
  /* margin: 0 500px !important; */
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  border-bottom: none !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-pagination
  .ant-pagination-item
  a {
  color: white !important;
  position: relative !important;
  /* margin: 0 auto; */
}

:where(.css-dev-only-do-not-override-pr0fja).ant-pagination
  .ant-pagination-item-active
  a {
  color: #1677ff !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-pagination {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-pagination::after {
  display: none !important;
}

.ant-pagination-item-ellipsis {
  color: white !important;
}
